* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: #12161a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.shiny-btn {
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.shiny-btn span {
  position: relative;
  z-index: 2;
  font-size: 28px;
  font-weight: 800;
  color: #1a1a1a;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.shiny-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 75%,
    transparent 100%
  );
  
  transform: skewX(-30deg);
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1); 
}

.shiny-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.shiny-btn:hover::before {
  left: 25%; 
}

.shiny-btn:active {
  transform: scale(0.98);
}